.headLink{
    top:1.8vw;
    font-size:clamp(16px,1.10vw,1.10vw);
}
.footLink{
    font-size:1.10vw;
    opacity:0.5;
}
#header{
    left:0;
    width:100vw;
    height:5vw;
    top:0;
    background: white;
    position:fixed;
    z-index:999;
    box-shadow:none;
    transition:box-shadow 1s;

}
#header.scrolled{
    box-shadow:0px 2px 5px 0.5px rgba(0,0,0,0.1);
}
#nameLink{
    left:19vw;
}
#workLink{
    right:36vw;
}
#aboutLink{
    right:29vw;
}
#resumeLink{
    right:21vw;
}
#footer{
    left:0vw;
    width:100vw;
    height:5vw;
}
#footerStatic{
    position:static;
    width:100vw;
    height:5vw;
    padding-top:5vw;
}
#emailLink{
    left:20vw;
}
#linkedinLink{
    left:75vw;
}