.video{
    width:25vw;
    height:25vw;
    position:absolute;
    left:55vw;
    top:10vw;
    border-radius:50%;
    object-fit:cover;
    object-position:5% 50%;
    filter:saturate(200%);
    transition:1s all;
}
#videocaption{
    position:absolute;
    width:25vw;
    text-align:center;
    top:37vw;
    left:55vw;
}
.fade{
    opacity:0;
    animation-name:fadeIn;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    animation-delay:0.3s;
}
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}
#videoBlur{
    transform:scale(1.03);
    filter:saturate(200%) blur(0.8vw);
}
#oneliner{
    left:20vw;
    width:30vw;
    font-size:2vw;
    top:10vw;
}
#about{
    left:20vw;
    width:30vw;
    font-size:1.1vw;
    top:15vw;
    line-height: 1.8;
}